.input_data{
    border:none;
    border-bottom: solid black 1px;
    background-color: transparent;
}
.input_data:focus{
    outline: none;
}
#email:focus{
     background-color: transparent;
}
    
.t_row{
    padding: 20px;
      
}
.t_content button{
    padding: 5px;
    margin-top: 10px;
    background-color: green;
    border: none ;
    display: block;
    width: 100%;
}
.container{
    position: absolute;
    top: 40%;
    left: 60%;
    text-align: center;
   font-size: 20px;
    
   
}
body {
    margin: 0;
    height: 100vh;
    background-image: url('./images/img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
table {
    margin: 0 auto;   
    text-align: center; 
}

.title {
    text-align: center;
    margin-bottom: 20px;
}
@media (max-width: 600px) {
    .container {
        position: absolute;
        top: 25%;
        left: 40%;
        
        
    }
    

}


